SECRET_KEY=834f27a0f77ba287ca9c85966bc3b98cedb86f921c6b8648f22899c1e70f5632

MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_USERNAME=nanancyclub@gmail.com
MAIL_PASSWORD=Nancyrv06
MAIL_USE_TLS=True

NANNY_EMAIL=nanancyclub@gmail.com
NANNY_WHATSAPP=5213311752397
NANNY_INSTAGRAM=https://www.instagram.com/tuusuario

