<div class="modal fade" id="experienceModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title">Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>He tenido la oportunidad de acompañar a niños neurotípicos y neurodivergentes, lo que me ha dado una mirada más empática y adaptable. 🤝✨</p>
        <p>Cada convivencia me ha permitido desarrollar una forma de acompañamiento respetuosa, paciente y sensible a las necesidades individuales de cada pequeño. 🌈💛</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
